//Colors
$green:#BBDC2F;
$light-green:#E1EEC7;
$pale-green:#fcfcfc;

//Paddings and margins
$mobile-padding:20px;

$tablet-padding:20px 40px;

$small-screen-margin:10px;

//Media queries

@mixin for-tablet {
  @media (min-width:481px){
    @content;
  }
}

@mixin for-small-screen {
  @media (min-width:769px){
    @content;
  }
}

@mixin for-large-screen {
  @media (min-wdith:1025px){
    @content;
  }
}

@mixin for-extra-large-screen {
  @media (min-wdith:1201px) {
    @content;
  }
}