h1 {
  color: black;
  text-align: center;
  font-family: 'Roboto Slab', 'Georgia', serif;
}

h2 {
  text-align: center;
  font-family: 'Roboto Slab', 'Georgia', serif;
}

p {
  font-family: 'Rubik', 'Verdana', sans-serif;
}

body {
  background-color: #BBDC2F;
  color: black;
  margin: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 769px) {
  .information {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

article {
  background-color: #fcfcfc;
  padding: 20px;
}

@media (min-width: 481px) {
  article {
    padding: 20px 40px;
  }
}

@media (min-width: 769px) {
  article {
    border-radius: 4px;
    margin: 10px;
    width: 25%;
  }
}

.accessibility-examples {
  background-color: #E1EEC7;
}

@media (min-width: 769px) {
  .accessibility-examples {
    background-color: #fcfcfc;
  }
}

.links {
  background-color: #E1EEC7;
  padding: 20px;
}

@media (min-width: 769px) {
  .links {
    border-radius: 4px;
    margin: 10px;
    background-color: #fcfcfc;
  }
}

.links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 769px) {
  .links div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.links h2 {
  margin-top: 0;
}

@media (min-width: 481px) {
  .links {
    padding: 20px 40px;
  }
}

footer {
  padding: 20px;
  background-color: #fcfcfc;
}

footer h2 {
  text-align: left;
  font-size: 20px;
}

@media (min-width: 481px) {
  footer {
    padding: 20px 40px;
  }
}

@media (min-width: 769px) {
  footer {
    background-color: #BBDC2F;
  }
}

img {
  padding: 20px 0 0 0;
  width: 100%;
  border-radius: 4px;
}

a {
  border-radius: 4px;
  background-color: #BBDC2F;
  padding: 15px 10%;
  font-family: 'Rubik', 'Verdana', sans-serif;
  margin: 10px;
  font-family: 'Rubik', 'Verdana', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

@media (min-width: 769px) {
  a {
    background-color: #BBDC2F;
    margin: 0;
  }
}

a:hover {
  background-color: #bcdc2f83;
}

@media (min-width: 769px) {
  a:hover {
    background-color: #E1EEC7;
  }
}
/*# sourceMappingURL=style.css.map */